.container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 align-content: center;
 align-items: center;
 width: 95vw;
 margin: auto;

}

// .parameter {
//   margin: 10px 40px 10px 40px;
// }
